<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Sofa Covers And Beyond" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <main>
      <%= render "shared/navbar" %>
      <%= render 'shared/flash' %>
      <%= yield %>
    </main>
  </body>
</html>
<script>
  let currentIndex = 0;
  let images = [];

  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll("[data-images]").forEach(img => {
      img.addEventListener("click", (e) => {
        images = JSON.parse(img.dataset.images);
        currentIndex = parseInt(img.dataset.index, 10);
        showLightbox();
      });
    });
  });

  function showLightbox() {
    document.getElementById("lightboxImage").src = images[currentIndex];
    document.getElementById("lightbox").classList.remove("hidden");
    document.getElementById("lightbox").classList.add("flex");
  }

  function closeLightbox() {
    document.getElementById("lightbox").classList.remove("flex");
    document.getElementById("lightbox").classList.add("hidden");
  }

  function nextImage() {
    currentIndex = (currentIndex + 1) % images.length;
    showLightbox();
  }

  function prevImage() {
    currentIndex = (currentIndex - 1 + images.length) % images.length;
    showLightbox();
  }
</script>

